<div class="navbar demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
    <header class="demo-drawer-header">
        <i class="mdl-color-text--blue-grey-400 material-icons ng-binding" role="presentation" style="
                font-size: 64px;
            ">share</i>
        <span>GitHub Graph - Beta!</span>
        <div class="mdl-layout-spacer"></div>

    </header>
    <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
        <a class="mdl-navigation__link" ng-repeat="state in vm.states" ng-init="cfg = state.navCfg" ui-sref="{{cfg.state}}">
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">{{cfg.ico}}</i> {{cfg.title}}
        </a>


        <div class="mdl-layout-spacer"></div>

    </nav>
</div>