<div id="network">
    
    <div class="graph-options">
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="radial-switch">
            <input id="radial-switch" type="checkbox" ng-model="vm.isRadial" class="mdl-switch__input" checked>
            <span class="mdl-switch__label">{{vm.isRadial ? 'Linear' : 'Radial'}}</span>
        </label>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="cluster-switch">
            <input id="cluster-switch" type="checkbox" ng-model="vm.isCluster"  class="mdl-switch__input">
            <span class="mdl-switch__label">{{vm.isCluster ? 'Tree' : 'Cluster'}}</span>
        </label>
    </div>
    
    <form ng-submit="vm.drawGraph(user)">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input name="user" class="mdl-textfield__input" ng-model="user" type="text" id="sample3">
            <label class="mdl-textfield__label" for="sample3">GitHub Username...</label>
        </div>
        <button ng-hide="vm.waiting" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
            Draw!
        </button>
        <div ng-show="vm.waiting">Loading...</div>
    </form>
    
    <ghg-graph ctrl="vm.ctrl" is-radial="vm.isRadial" is-cluster="vm.isCluster"></ghg-graph>
</div>